<%- model_class = Message -%>
<%= form_for @message, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="page-header">
    <h1><%=t '.title', :default => ["Создать Сообщение"], :model => model_class.model_name.human %></h1>
  </div>
  <div class="new-message">
    <ul class="nav nav-tabs">
      <li><a href="#users-list" data-toggle="tab">Список контактов</a></li>
      <li><a href="#users-groups" data-toggle="tab">Группы контактов</a></li>
      <li><a href="#users-custom" data-toggle="tab">Ручной ввод получателей</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="users-list">
        <%= render :partial => 'users_list', :locals=>{:f=>f} %>
      </div>
      <div class="tab-pane" id="users-groups"> 
        <%= render :partial => 'users_groups', :locals=>{:f=>f} %>
      </div>
      <div class="tab-pane" id="users-custom"> 
        <%= render :partial => 'users_custom', :locals=>{:f => f} %>
      </div>
    </div>
  </div>
  <%= render :partial => 'message_box', :locals => {:f => f} %>
  <%= f.hidden_field :service_id, :value => current_service.id %>
  <div class="new-message-buttons">
    <%= f.submit t('.create'), :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),messages_path, :class => 'btn' %>
  </div>
<% end %>
