<%= form_for @group, :html => { :class => 'form-horizontal' }, :validate => true do |f|%>

  <div class="control-group form-inline">
    <%= f.label "Название", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
      <%= f.hidden_field :service_id, :value => current_service.id %>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        <h4>Список контактов</h4>
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner">
        <div class="contact_list">
          <div class='scroll_checklist'>
            <table class="in-select-table">
              <tr>
                <th>Имя</th>
                <th>Номер</th>
                <th>Выбрать</th>
              </tr>
              <% for user in current_service.users %>
              <tr>
                  <td class="under-td"><%= user.name %></td>
                  <td class="under-td"><%= user.phone %></td>
                  <td align="right"><%= check_box_tag "group[user_ids][]", user.id, f.object.users.include?(user) %></td> 
              </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit "Сохранить", :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                groups_path, :class => 'btn' %>
  </div>

  <!--h4></h4-->
  <!--%= f.submit "Сохранить", :class => 'btn btn-primary' %-->
<% end %>