<!DOCTYPE html>
<html>
<head>
  <title>Sms</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar">
	<div class="navbar-inner">
		<%= link_to "Sms-Sender", home_path, :class => 'brand'%>
		<ul class="nav">
			<% if service_signed_in? %>
				<li>
					<%= link_to messages_path do %>
						<i class="icon-envelope"></i> Сообщения
					<%end%>
				</li>
				<li>
					<%= link_to groups_path do %>
						<i class="icon-list-alt"></i> Группы контактов
					<%end%>
				</li>
				<li>
				<%= link_to users_path do %>
	  				<i class="icon-user"></i> Контакты
				<% end %>
				</li>
			<% end %>
			<li>
				<%= link_to home_help_path do %>
					<i class="icon-info-sign"></i> Помощь
				<%end%>
			</li>
		</ul>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="span9"><%= yield %></div>
		<div class="span3">
			<h2>SMS</h2>
			<%= render :partial => 'shared/smsinfo'%>
		</div>
	</div>
</div>
</body>
</html>
